In [35]:
%matplotlib inline 
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import random
import math 

# Read hmeq.csv file
hmeq = pd.read_csv("hmeq.csv")
hmeq.head() #Look at the head of the data (just the first few rows)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN,NaN,NaN,NaN,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7,0.0,2.0,121.833333,0.0,14.0,NaN,NaN,NaN,NaN,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4,0.0,0.0,149.466667,1.0,10.0,NaN,NaN,NaN,NaN,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3,0.0,0.0,93.333333,0.0,14.0,NaN,NaN,NaN,NaN,NaN

In [36]:
# Removing any unnecessary column
hmeq_prepared = hmeq.drop(columns=['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])

In [37]:
# Check statistical data from each numerical column
hmeq_prepared.describe()

,BAD,LOAN,MORTDUE,VALUE,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
count,5962.000000,5.962000e+03,5444.000000,5.850000e+03,5254.000000,5382.000000,5654.000000,5452.000000,5740.000000,4695.000000
mean,0.201275,1.972605e+04,73756.449706,2.580738e+05,0.259136,0.449275,179.738555,1.237366,21.287456,35.185829
std,0.420589,8.597330e+04,44450.895907,1.176907e+07,0.890592,1.127090,85.853356,3.615545,10.141083,73.596762
min,0.000000,1.100000e+03,2063.000000,-2.500000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,-21.719596
25%,0.000000,1.110000e+04,46292.000000,6.608575e+04,0.000000,0.000000,115.089691,0.000000,14.000000,29.136864
50%,0.000000,1.640000e+04,65019.000000,8.924500e+04,0.000000,0.000000,173.466667,1.000000,20.000000,34.816960
75%,0.000000,2.330000e+04,91482.000000,1.198388e+05,0.000000,0.000000,231.587389,2.000000,26.000000,39.008591
max,10.000000,6.600000e+06,399550.000000,9.001400e+08,20.000000,15.000000,1168.233561,229.518295,71.000000,4537.512708

In [38]:
# Change the object type of YOJ to numerical
hmeq_prepared['YOJ'] = pd.to_numeric(hmeq_prepared['YOJ'], errors='coerce')
hmeq_prepared.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [39]:
# If there's any NaN value in dataset, it will be changed with their column mean
hmeq_prepared = hmeq_prepared.fillna(hmeq_prepared.mean())
hmeq_prepared = hmeq_prepared.round(2)

In [40]:
# Checking first 5 column in prepared hmeq
hmeq_prepared.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.00,39025.00,HomeImp,Other,10.50,0.00,0.00,94.37,1.00,9.00,35.19
1,1,1300,70053.00,68400.00,HomeImp,Other,7.00,0.00,2.00,121.83,0.00,14.00,35.19
2,1,1500,13500.00,16700.00,HomeImp,Other,4.00,0.00,0.00,149.47,1.00,10.00,35.19
3,1,1500,73756.45,258073.79,NaN,NaN,8.92,0.26,0.45,179.74,1.24,21.29,35.19
4,0,1700,97800.00,112000.00,HomeImp,Office,3.00,0.00,0.00,93.33,0.00,14.00,35.19

In [41]:
# Saving the prepared hmeq to new csv file called hmeq_prepared.csv
hmeq_prepared.to_csv('hmeq_prepared.csv', sep=',', encoding='utf-8',index=False)

In [42]:
# Trying to load the new hmeq csv file
hmeq_new = pd.read_csv("hmeq_prepared.csv")
hmeq_new.head() #Look at the head of the data (just the first few rows)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.00,39025.00,HomeImp,Other,10.50,0.00,0.00,94.37,1.00,9.00,35.19
1,1,1300,70053.00,68400.00,HomeImp,Other,7.00,0.00,2.00,121.83,0.00,14.00,35.19
2,1,1500,13500.00,16700.00,HomeImp,Other,4.00,0.00,0.00,149.47,1.00,10.00,35.19
3,1,1500,73756.45,258073.79,NaN,NaN,8.92,0.26,0.45,179.74,1.24,21.29,35.19
4,0,1700,97800.00,112000.00,HomeImp,Office,3.00,0.00,0.00,93.33,0.00,14.00,35.19

In [43]:
# Checking correlation in every feature that hmeq_prepared have
hmeq_new.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

In [46]:
# Trying to normalize the number in hmeq_prepared
hmeq_new_num = hmeq_new.select_dtypes(include=[np.number])
hmeq_new_norm = (hmeq_new_num - hmeq_new_num.mean()) / (hmeq_new_num.max() - hmeq_new_num.min())
hmeq_new_norm_round = hmeq_new_norm.round(4)
hmeq_new_norm_round.head()

,BAD,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,0.0799,-0.0028,-0.1205,-0.0002,0.0385,-0.013,-0.0300,-0.0731,-0.0010,-0.1731,0.0
1,0.0799,-0.0028,-0.0093,-0.0002,-0.0469,-0.013,0.1034,-0.0496,-0.0054,-0.1026,0.0
2,0.0799,-0.0028,-0.1516,-0.0003,-0.1200,-0.013,-0.0300,-0.0259,-0.0010,-0.1590,0.0
3,0.0799,-0.0028,0.0000,0.0000,-0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0
4,-0.0201,-0.0027,0.0605,-0.0002,-0.1444,-0.013,-0.0300,-0.0740,-0.0054,-0.1026,0.0